body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 180px;
    color: #73bbb5;
    background: #020202;
    text-align: center;
    font-size: 40px;
}

.table1{
    margin-left: auto;
    margin-right: auto;
}
input{
    height: 60px;
    width: 300px;
    font-size: 30px;
}
button {
    background-color: #73bbb5;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
  }
.strong1{
    text-decoration: underline;
}
.top{
    border-top: 2px solid #73bbb5;
}
.bottom{
    border-bottom: 2px solid #73bbb5;
}
.right{
    border-right: 2px solid #73bbb5;
}
.left{
    border-left: 2px solid #73bbb5;

}